nav {
  text-align: right;
}

.character-card {
  font-size: 1em;
}

#popup-character-selection{
  position: fixed;
  width: 75%;
  top: 50%;
  left: 50%;
  height: 90%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  text-align: right;
}

#setting-input {
  display: inline-block;
}

th {
  font-size: 1.2rem;
  text-align: start;
}

table {
  margin-left: auto;
  table-layout: fixed;
  width: 100%;
}

th,td {
  width: 20%;
}

#popup-filter {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.2rem solid var(--accent);
}

#character-card-checkbox[disabled][checked] {
  filter: invert(100%) hue-rotate(18deg) brightness(5);
}
#character-card-checkbox[disabled] {
  filter: invert(100%) hue-rotate(18deg) brightness(5);
}

.popup {
  display: none;
}

#esc-popup{
  
}
