{% extends 'team_randomizer/layout.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'team_randomizer/css/character_content.css' %}">
<link rel="stylesheet" href="{% static 'team_randomizer/css/abyss_randomizer.css' %}">
{% endblock %}

{% block script %}
<script>let isAuthenticated = true;</script>
{% if user.is_authenticated %}
<script>isAuthenticated = true;</script>
{% else %}
<script>isAuthenticated = false;</script>
{% endif %}

<script>
  function characterCardTemplate(characterName, imgSrc) {
    return `
    <div class="character-card secondary-color accent-background-BF">
      <img class="character-image" src="${imgSrc}">
      <label>
        ${characterName}
      </label>
      <input name="${characterName}" id="character-card-checkbox" type="checkbox">
    </div>
    `
  }

  function disableOrEnable(disable, identifier){
    document.querySelectorAll(identifier).forEach(input => {
      input.disabled = disable;
    })
  }

  function toggleDiv(element, show){
    if (show){
      element.style.display = 'block';
    }
    else {
      element.style.display = 'none';
    }
  }

  function getAndStoreContent(elementToStore, url){
    fetch(url)
    .then(response => response.json())
    .then(data => Object.entries(data).forEach(character=>{
      elementToStore.innerHTML += characterCardTemplate(character[0], character[1]);
    }
    ));
  }

  function toggleContent(charactersObj){
    try {
      Object.entries(JSON.parse(localStorage.getItem(ALL_CHARACTERS))).forEach(arr => {
        if (arr[0] in charactersObj){
          document.getElementsByName(arr[0])[0].checked = true;
        }
        else{
          document.getElementsByName(arr[0])[0].checked = false;
        }
      })
    }
    catch(err){
      localStorage.clear();
      alert(`Ran into ${err}. Local storage cleared. Reloading!`);
      location.reload();
    }
  }

  function saveCharacters(){
    let yourCharacters = {};
    let allCharacters = JSON.parse(localStorage.getItem(ALL_CHARACTERS));
    document.querySelectorAll('.character-content input').forEach(element => {
      if (element.checked){
        yourCharacters[element.name] = allCharacters[element.name];
      }
    })

    if (!isAuthenticated || JSON.parse(localStorage.getItem(USE_LOCAL))){  
      localStorage.setItem(MY_CHARACTERS, JSON.stringify(yourCharacters));
    }
    toggleDiv(document.querySelector('#popup-character-selection'), false);
  }

  function autoToggleContent(){
    try{
      let use_local = JSON.parse(localStorage.getItem(USE_LOCAL)); 
      if (use_local){
        toggleContent(JSON.parse(localStorage.getItem(MY_CHARACTERS)))
        document.querySelector('#select-local-character').checked = true;
        document.querySelector('#select-all').disabled = false;
      }
      else {
        localStorage.setItem(USE_LOCAL, false)
        fetch("{% url 'abyss_randomizer:get_characters' %}")
        .then(response => response.json())
        .then(data => toggleContent(data))
        document.querySelector('#select-your-character').checked = true;
        document.querySelector('#select-all').disabled = true;
      }
      disableOrEnable(!use_local, '#character-card-checkbox');
    }
    catch(err){
      localStorage.clear();
      alert(`Ran into ${err}, resetted your local storage. Reloading the page!`);
      location.reload();
    }
  }

  function switchMode(useLocal){
    localStorage.setItem(USE_LOCAL, useLocal);
    autoToggleContent();
  }

  function selectAll(isSelectAll){
    isSelectAll? toggleContent(JSON.parse(localStorage.getItem(ALL_CHARACTERS))):autoToggleContent();
  }

  function getColLenFromTableDataFormat(tableDataFormat){
    //tableDataFormat is {'your table header': ['your element at col 1', 'your element at col 2', ...]}
    let retArr = [];
    Object.entries(tableDataFormat).forEach(table => {
      retArr.push(table[1].length);
    })
    return retArr;
  }

  function getRow(tableDataFormat, index){
     //tableDataFormat is {'your table header': ['your element at col 1', 'your element at col 2', ...]}
     let retArr = [];
     Object.entries(tableDataFormat).forEach(table => {
       retArr.push((table[1][index]) === undefined? null : table[1][index]);
     })
     return retArr;
  }

  function cvtRowToHtml(row, isTh){
    //row you get from getRow function, type can be 
    let retStr = '';
    let element = isTh? ['th', '', text => text.charAt(0).toUpperCase() + text.slice(1)] : ['td', "<input type='checkbox'>", text => text]
    row.forEach(cell => {
      retStr += `<${element[0]}> ${cell === null? '': element[1] + element[2](cell)}</${element[0]}>`
    })
    return retStr
  }

  function getHeaderRowHtml(headers){
    let retstr = '';
    headers.forEach
  }

  document.addEventListener('DOMContentLoaded', function(){
    const POPUP_CHARACTER_SELECTION = document.querySelector('#popup-character-selection');
    const POPUP_FILTER = document.querySelector('#popup-filter');
    toggleDiv(POPUP_CHARACTER_SELECTION, false);
    toggleDiv(POPUP_FILTER, false);
    //getAndStoreContent(document.querySelector('.character-content'), "{% url 'abyss_randomizer:get_characters' %}");
    getAndStoreContent(document.querySelector('.character-content'), "{% url 'abyss_randomizer:get_all_characters' %}");
    document.querySelector('#character-selection').onclick = function(){
      autoToggleContent();
      toggleDiv(POPUP_CHARACTER_SELECTION, true);
    }

    document.querySelector('#character-filter').onclick = function(){
      toggleDiv(POPUP_FILTER, true);
      let tableData = JSON.parse(localStorage.getItem(TABLE_DATA));
      let filterContent = '';
      let tableDataForRender = [];
  
      for (let i = 0; i < Math.max(...getColLenFromTableDataFormat(tableData)); i++){
          tableDataForRender.push(getRow(tableData, i))
      }

      console.log(tableDataForRender);
      filterContent += `<thead><tr>${cvtRowToHtml(Object.keys(tableData), true)}</tr></thead>`
      tableDataForRender.forEach(row => {
        console.log(row);
        filterContent += `<tr>${cvtRowToHtml(row, false)}</tr>`
      })

      /*
      Object.entries(tableData).forEach(table => {
        let elementList = '';
        table[1][0].forEach(el => {
          elementList += `<tr><td><input type='checkbox' name='${table[0]}' value='${el}'></td><td>${el}</td></tr>`
        })
        filterContent += `
            <th colspan='2'>${table[0].charAt(0).toUpperCase()+table[0].slice(1)}</th>
            ${elementList}
        `
      })
      */
      document.querySelector('#popup-filter-content').innerHTML = `<table class='filter-attribute secondary-color'>${filterContent}</table>`;
    }
  })

</script>
{% endblock %}
{% block body %}
<h1>Abyss randomizer</h1>

<div id="popup-character-selection" class="primary-background-FF">
  <button id="character-filter">Filter</button>
  <button id="esc-popup-character-selection" onclick="toggleDiv(document.querySelector('#popup-character-selection'), false)">X</button>
  <div id="popup-filter" class="secondary-color primary-background-FF">
    <button id="esc-popup-filter" onclick="toggleDiv(document.querySelector('#popup-filter'), false)">X</button>
    <h2 style="text-align: left;">Filter by:</h2>
    <div id="popup-filter-content"class="primary-background-3F">
    </div>
    <button onclick="">Save</button>
  </div>
  <div class="character-content primary-background-3F">
  </div>

  {% if user.is_authenticated %}
    <label class="secondary-color" for="select-your-character" id="setting-input">
      <input type='radio' id="select-your-character" name="randomizer-setting" onclick="switchMode(false)">
      Use your characters
    </label>
    <label class="secondary-color" for="select-your-character" id="setting-input">
      <input type='radio' id="select-local-character" name="randomizer-setting" onclick="switchMode(true)">
      Use characters locally
    </label>
    {% endif %}
    <label class="secondary-color" for="select-all" id="setting-input">
      <input onchange="selectAll(this.checked)" type="checkbox" id="select-all">
      Select all
    </label>
  <button onclick="saveCharacters()">Save</button>
</div>

<nav>
  <button id="character-selection" >Characters</button>
</nav>
{% endblock %}