{% extends 'team_randomizer/layout.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'team_randomizer/css/character_content.css' %}">
<link rel="stylesheet" href="{% static 'team_randomizer/css/abyss_randomizer.css' %}">
{% endblock %}

{% block script %}
<script>let isAuthenticated = true;</script>
{% if user.is_authenticated %}
<script>isAuthenticated = true;</script>
{% else %}
<script>isAuthenticated = false;</script>
{% endif %}

<script>
  function characterCardTemplate(characterName, imgSrc) {
    return `
    <div id="${characterName}" class="character-card secondary-color accent-background-BF">
      <img class="character-image" src="${imgSrc}">
      <label>
        ${characterName}
      </label>
      <input name="${characterName}" id="character-card-checkbox" type="checkbox">
    </div>
    `
  }

  function disableOrEnable(disable, identifier){
    document.querySelectorAll(identifier).forEach(input => {
      input.disabled = disable;
    })
  }

  function toggleDiv(element, show){
    if (show){
      element.style.display = 'block';
    }
    else {
      element.style.display = 'none';
    }
  }

  async function getAndStoreContent(elementToStore, url, tableData){
    console.log('storing content...')
    elementToStore.innerHTML = '';
    console.log('Table Data: ', tableData);
    await fetch(url, {
      method: 'POST',
      body: tableData
    })
    .then(response => response.json())
    .then(data => Object.entries(data).forEach(character=>{
      elementToStore.innerHTML += characterCardTemplate(character[0], character[1]);
    }
    ));
  }

  function toggleContent(charactersObj){
    try {
      getCharactersFromHtml().forEach(character => {
        document.querySelector(`input[name="${character}"]`).checked = (character in charactersObj);
      })
      
    }
    catch(err){
      localStorage.clear();
      console.error(err);
      alert(`Ran into ${err}. Local storage cleared. Reloading!`);
      location.reload();
    }
  }

  function saveCharacters(){
    let yourCharacters = {};
    let allCharacters = JSON.parse(localStorage.getItem(ALL_CHARACTERS));
    document.querySelectorAll('.character-content input').forEach(element => {
      if (element.checked){
        yourCharacters[element.name] = allCharacters[element.name];
      }
    })

    if (!isAuthenticated || JSON.parse(localStorage.getItem(USE_LOCAL))){  
      localStorage.setItem(MY_CHARACTERS, JSON.stringify(yourCharacters));
    }
    toggleDiv(document.querySelector('#popup-character-selection'), false);
  }

  async function autoToggleContent(){
    try{
      let use_local = JSON.parse(localStorage.getItem(USE_LOCAL)); 
      if (use_local){
        toggleContent(JSON.parse(localStorage.getItem(MY_CHARACTERS)))
        document.querySelector('#select-local-character').checked = true;
        document.querySelector('#select-all').disabled = false;
      }
      else {
        localStorage.setItem(USE_LOCAL, false)
        await fetch("{% url 'abyss_randomizer:get_characters' %}")
        .then(response => response.json())
        .then(data => toggleContent(data))
        document.querySelector('#select-your-character').checked = true;
        document.querySelector('#select-all').disabled = true;
      }
      disableOrEnable(!use_local, '#character-card-checkbox');
    }
    catch(err){
      localStorage.clear();
      alert(`Ran into ${err}, resetted your local storage. Reloading the page!`);
      location.reload();
    }
  }

  function switchMode(useLocal){
    localStorage.setItem(USE_LOCAL, useLocal);
    autoToggleContent();
  }

  function selectAll(isSelectAll){
    isSelectAll? toggleContent(JSON.parse(localStorage.getItem(ALL_CHARACTERS))):autoToggleContent();
  }

  function getColLenFromTableDataFormat(tableDataFormat){
    //tableDataFormat is {'your table header': ['your element at col 1', 'your element at col 2', ...]}
    let retArr = [];
    Object.entries(tableDataFormat).forEach(table => {
      retArr.push(table[1].length);
    })
    return retArr;
  }

  function getRow(tableDataFormat, index){
     //tableDataFormat is {'your table header': ['your element at col 1', 'your element at col 2', ...]}
     let retArr = [];
     Object.entries(tableDataFormat).forEach(table => {
       retArr.push((table[1][index]) === undefined? null : table[1][index]);
     })
     return retArr;
  }

  function cvtRowToHtml(row, headerRow=null){
    //row you get from getRow function. If headerRow is empty, 
    let retStr = '';
    let myTableSelect = JSON.parse(localStorage.getItem(MY_TABLE_SELECT));
    let element;
    if (headerRow === null){
      element = ['th', ((text,index) => text.charAt(0).toUpperCase() + text.slice(1))];
    }
    else{
      element = ['td', ((text, index) => `<input name='${headerRow[index]}' value='${text}' type='checkbox' ${(myTableSelect[headerRow[index]].indexOf(text) === -1)?'':'checked'}>` + text)];
    }
    for(let i = 0; i < row.length; i++){
      let cell = row[i];
      retStr += `<${element[0]}> ${cell === null? '': element[1](cell, i)}</${element[0]}>`
    }
    return retStr
  }

  function saveFilter(){
    let allTableData = JSON.parse(localStorage.getItem(TABLE_DATA));
    let savedTableData = {};
    Object.keys(allTableData).forEach(attrType => {
      let allAttrValue = allTableData[attrType];
      savedTableData[attrType] = [];
      document.getElementsByName(attrType).forEach(tableAttrValueTd => {
        let tableAttrValueInputValue = tableAttrValueTd.value;
        if (tableAttrValueTd.checked === true && savedTableData[attrType].indexOf(tableAttrValueInputValue) === -1){
          savedTableData[attrType].push(tableAttrValueInputValue);
        }
      })
    })
    localStorage.setItem(MY_TABLE_SELECT, JSON.stringify(savedTableData));
    // toggleDiv(document.querySelector('#popup-filter'), false)
    getAndStoreContent(document.querySelector('.character-content'), "{% url 'abyss_randomizer:filter_characters' %}", localStorage.getItem(MY_TABLE_SELECT))
    .then(x => autoToggleContent());
    return localStorage.getItem(MY_TABLE_SELECT);
  }

  function getCharactersFromHtml(){
    let retArr = [];
    document.querySelectorAll('.character-content .character-card').forEach(card => retArr.push(card.id));
    return retArr;
  }

  let loadContent = fetchAllData();
  document.addEventListener('DOMContentLoaded', async function(){
    loadContent
    .then(async x => {
      const POPUP_CHARACTER_SELECTION = document.querySelector('#popup-character-selection');
      const POPUP_FILTER = document.querySelector('#popup-filter');
      toggleDiv(POPUP_CHARACTER_SELECTION, false);
      toggleDiv(POPUP_FILTER, false);
      console.log(localStorage.getItem(MY_TABLE_SELECT));
      //getAndStoreContent(document.querySelector('.character-content'), "{% url 'abyss_randomizer:get_characters' %}");
      await getAndStoreContent(document.querySelector('.character-content'), "{% url 'abyss_randomizer:filter_characters' %}", localStorage.getItem(TABLE_DATA));
      document.querySelector('#character-selection').onclick = function(){
        autoToggleContent();
        toggleDiv(POPUP_CHARACTER_SELECTION, true);
      }
      document.querySelector('#character-filter').onclick = function(){
        toggleDiv(POPUP_FILTER, true);
        let tableData = JSON.parse(localStorage.getItem(TABLE_DATA));
        let filterContent = '';
        let tableDataForRender = [];
    
        for (let i = 0; i < Math.max(...getColLenFromTableDataFormat(tableData)); i++){
            tableDataForRender.push(getRow(tableData, i))
        }
        let headerRow = Object.keys(tableData);
        filterContent += `<thead><tr>${cvtRowToHtml(headerRow)}</tr></thead>`
        tableDataForRender.forEach(row => {
          filterContent += `<tr>${cvtRowToHtml(row, headerRow)}</tr>`
        })
  
        document.querySelector('#popup-filter-content').innerHTML = `<table class='filter-attribute secondary-color'>${filterContent}</table>`;
      }
    })
    .then(x => {
      document.querySelector('#character-selection').disabled = false;
    })
  })

  function randomize(listOfCharacters){
    
  }

</script>
{% endblock %}
{% block body %}
<h1>Abyss randomizer</h1>

<div id="popup-character-selection" class="popup primary-background-FF">
  <button id="character-filter">Filter</button>
  <button id="esc-popup-character-selection" onclick="toggleDiv(document.querySelector('#popup-character-selection'), false)">X</button>
  <div id="popup-filter" class="popup secondary-color primary-background-FF">
    <button id="esc-popup-filter" onclick="toggleDiv(document.querySelector('#popup-filter'), false)">X</button>
    <h2 style="text-align: left;">Filter by:</h2>
    <div id="popup-filter-content"class="primary-background-3F">
    </div>
    <button onclick="saveFilter()">Save</button>
  </div>
  <div class="character-content primary-background-3F">
  </div>

  {% if user.is_authenticated %}
    <label class="secondary-color" for="select-your-character" id="setting-input">
      <input type='radio' id="select-your-character" name="randomizer-setting" onclick="switchMode(false)">
      Use your characters
    </label>
    <label class="secondary-color" for="select-your-character" id="setting-input">
      <input type='radio' id="select-local-character" name="randomizer-setting" onclick="switchMode(true)">
      Use characters locally
    </label>
    {% endif %}
    <label class="secondary-color" for="select-all" id="setting-input">
      <input onchange="selectAll(this.checked)" type="checkbox" id="select-all">
      Select all
    </label>
  <button onclick="saveCharacters()">Save</button>
</div>

<nav>
  <button id="character-selection" disabled="true">Characters</button>
</nav>
{% endblock %}