asgiref==3.7.2
beautifulsoup4==4.12.2
browser-cookie3==0.19.1
bs4==0.0.1
certifi==2023.5.7
charset-normalizer==3.1.0
Django==4.2.2
django-cors-headers==4.1.0
genshinstats==1.4.11.3
idna==3.4
lxml==4.9.2
lz4==4.3.2
pycryptodomex==3.18.0
requests==2.31.0
soupsieve==2.4.1
sqlparse==0.4.4
typing_extensions==4.7.0
tzdata==2023.3
urllib3==2.0.3
