{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'team_randomizer/css/header_styles.css' %}">
  <link rel="stylesheet" href="{% static 'team_randomizer/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'team_randomizer/css/alerts.css' %}">
  <style>
    @font-face {
      font-family: "genshin";
      src: url("{% static 'team_randomizer/fonts/zh-cn.ttf' %}") format('truetype');
    }
  </style>
  <script>
    const MY_CHARACTERS = 'myCharacters';
    const ALL_CHARACTERS = 'allCharacters';
    const USE_LOCAL = 'useLocal';
    const TABLE_DATA = 'tableData';
    fetch("{% url 'abyss_randomizer:get_character_schema' %}")
    .then(response => response.json())
    .then(data => {
      localStorage.setItem(TABLE_DATA, JSON.stringify(data));
    });
    fetch("{% url 'abyss_randomizer:get_all_characters' %}")
    .then(response => response.json())
    .then(data => {
      localStorage.setItem(ALL_CHARACTERS, JSON.stringify(data));
      console.log(`Set ${ALL_CHARACTERS} successfully`);
      try{
        if (JSON.parse(localStorage.getItem(MY_CHARACTERS)) === null){
            localStorage.setItem(MY_CHARACTERS, localStorage.getItem(ALL_CHARACTERS));
        }
      }
      catch(err){
        localStorage.setItem(MY_CHARACTERS, localStorage.getItem(ALL_CHARACTERS));
      }
    })

    if (!(localStorage.getItem(USE_LOCAL) in {true:null,  false:null})){
      localStorage.setItem(USE_LOCAL, false);
    }

  </script>
  <script src="{% static 'team_randomizer/js/script.js' %}"></script>
  {% block script %}
  {% endblock %}
  {% block styles %}
  {% endblock %}
  {% block title %}
  {% endblock %}
</head>
<body class="secondary-background primary-color">
    {% if message is not None%}
      <div id='message' class="alert {{message.alert_class}}" role="alert">
        {{ message.message }}
      </div>
    {% endif %}
  <header class="primary-color secondary-background">
    <a href="{% url 'home' %}">
      <h1 class="primary-color">TEAM RANDOMIZER</h1>
    </a>

    <nav>
      {% if user.is_authenticated %}
        <a class="secondary-color primaryButton-background" href="{% url 'logout' %}">Logout</a>
        <a class="secondary-color primaryButton-background" href="{% url 'user_profile' %}">{{user.username}}'s profile</a>
      {% else %}
        <a class="secondary-color primaryButton-background" href="{% url 'register' %}">Register</a>
        <a class="secondary-color primaryButton-background" href="{% url 'login' %}">Login</a>
      {% endif %}
      <a class="secondary-color primaryButton-background" href="{% url 'abyss_randomizer:index' %}">Abyss Randomizer</a>
      <a class="secondary-color primaryButton-background" href="{% url 'custom_randomizer:index' %}">Custom Randomizer</a>
      <div id="theme-checkboxes">
        <label for="light-checkbox">
          <input type="radio" name="theme" id="light-checkbox">
          Light theme
        </label>
        <label for="dark-checkbox">
          <input type="radio" name="theme" id="dark-checkbox">
          Night theme
        </label>
      </div>
    </nav>
  </header>
  
  {% block body %}
  {% endblock %}


</body>

</html>