{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'team_randomizer/css/header_styles.css' %}">
  <link rel="stylesheet" href="{% static 'team_randomizer/css/styles.css' %}">
  <style>
    @font-face {
      font-family: "genshin";
      src: url("{% static 'team_randomizer/fonts/zh-cn.ttf' %}") format('truetype');
    }
  </style>
  <script src="{% static 'team_randomizer/js/script.js' %}"></script>
  {% block script %}
  {% endblock %}
  {% block styles %}
  {% endblock %}
  {% block title %}
  {% endblock %}
</head>
<body class="secondary-background primary-color">
  <header class="primary-color secondary-background">
    <a href="{% url 'home' %}">
      <h1 class="primary-color">TEAM RANDOMIZER</h1>
    </a>

    <nav>
      <a class="secondary-color primaryButton-background" href="{% url 'custom_randomizer:index' %}">Abyss Randomizer</a>
      <a class="secondary-color primaryButton-background" href="{% url 'abyss_randomizer:index' %}">Custom Randomizer</a>
      <div id="theme-checkboxes">
        <label for="light-checkbox">
          <input type="radio" name="theme" id="light-checkbox">
          Light theme
        </label>
        <label for="dark-checkbox">
          <input type="radio" name="theme" id="dark-checkbox">
          Night theme
        </label>
      </div>
    </nav>
  </header>
  
  {% block body %}
  {% endblock %}


</body>

</html>